In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

df = pd.read_csv('outletData/featureData/all_outlets_feature.csv', sep=' ')
df = df.sample(frac=1).reset_index(drop=True)
X = df.drop(columns=["Outlet"])
y = df["Outlet"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
df

      AverageFlow  Volume  Duration         Outlet
0       25.562500     409        17  washroomBasin
1       52.833333     317         6   kitchenBasin
2       17.000000     102         6  washroomBasin
3       34.646341    2841        88  washroomBasin
4       69.166667     415         7  washroomBasin
...           ...     ...       ...            ...
4000   110.500000    1768        17   kitchenBasin
4001    33.810811    1251        39  washroomBasin
4002    14.944444     269        19  washroomBasin
4003    23.714286     166         7  washroomBasin
4004    34.400000     344        10  washroomBasin

[4005 rows x 4 columns]

In [14]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [15]:
predictions = model.predict(X_test)
accuracy_score(y_test, predictions)

0.6279650436953808

In [46]:
from sklearn import svm
from sklearn.metrics import classification_report

svm_model = svm.SVC(kernel='poly', gamma=1, C=1, verbose=True, max_iter=1)

# svm_predictions = svm_model.predict(X_test)
# print(classification_report(y_test, svm_predictions))

In [47]:
svm_model.fit(X_train,y_train)

[LibSVM]

C:\Users\User\anaconda3\envs\waterAuditProject\lib\site-packages\sklearn\svm\_base.py:255: ConvergenceWarning: Solver terminated early (max_iter=1).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn('Solver terminated early (max_iter=%i).'

SVC(C=1, gamma=1, kernel='poly', max_iter=1, verbose=True)

In [45]:
predictions = svm_model.predict(X_test)
accuracy_score(y_test, predictions)

0.4631710362047441